@using WebUI.Client.Components
@inject IStringLocalizer<InstructorResources> InstructorLocalizer
@inject IStringLocalizer<GeneralResources> GeneralLocalizer

<MudDialog>
    <DialogContent>
        <div>
            <div class="row">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @InstructorLocalizer["LastName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (InstructorDetailsViewModel.Instructor != null)
                            {
                                @InstructorDetailsViewModel.Instructor.LastName
                            }
                        </dd>
                        <dt class="col-sm-4">
                            @InstructorLocalizer["FirstName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (InstructorDetailsViewModel.Instructor != null)
                            {
                                @InstructorDetailsViewModel.Instructor.FirstName
                            }
                        </dd>
                        <dt class="col-sm-4">
                            @InstructorLocalizer["HireDate"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (InstructorDetailsViewModel.Instructor != null)
                            {
                                @InstructorDetailsViewModel.Instructor.HireDate.ToShortDateString()
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <ProfilePicture FileName="@InstructorDetailsViewModel?.Instructor?.ProfilePictureName" />
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@GeneralLocalizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>