@using WebUI.Shared.Instructors.Queries.GetInstructorsOverview
@page "/instructors"

<h2>@Localizer["Instructors"]</h2>
<PageTitle>CU - @Localizer["Instructors"]</PageTitle>

<p>
    <MudIconButton OnClick="(e => OpenCreateInstructor())"
                   Title="@Localizer["Create"]"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary"
                   id="CreateButton">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<InstructorVM>>>(ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="Table" RowClassFunc="@InstructorsSelectRowClassFunc">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Localizer["Instructors"]</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="@Localizer["Search"]" Adornment="Adornment.Start" @bind-Value="@InstructorsOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" id="SearchValue"></MudTextField>
        <MudIconButton OnClick="Filter"
                       Title="@Localizer["Search"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary"
                       id="SearchButton">
        </MudIconButton>
        <MudIconButton OnClick="BackToFullList"
                       Title="@Localizer["BackToFullList"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary"
                       id="BackToFullListButton">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="InstructorVM">@Localizer["LastName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="InstructorVM">@Localizer["FirstName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="hiredate" T="InstructorVM">@Localizer["HireDate"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="office" T="InstructorVM">@Localizer["OfficeLocation"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="courses" T="InstructorVM">@Localizer["Courses"]</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="HireDate">@context.HireDate.ToShortDateString()</MudTd>
        <MudTd DataLabel="Office">@context.OfficeLocation</MudTd>
        <MudTd DataLabel="Courses"></MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick=@(e => SelectInstructor(context.InstructorID))
                           Title="@Localizer["Select"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-hand-pointer"
                           Color="Color.Primary" Size="Size.Small"
                           Class="InstructorSelectButton">
            </MudIconButton>
            <MudIconButton OnClick="(e => OpenInstructorEdit(context.InstructorID))"
                           Title="@Localizer["Edit"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenInstructorEditButton">
            </MudIconButton>
            <MudIconButton OnClick="(e => OpenInstructorDetails(context.InstructorID))"
                           Title="@Localizer["Details"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenInstructorDetailsButton">
            </MudIconButton>
            <MudIconButton OnClick=@(e =>
                DeleteInstructor(context.InstructorID, $"{context.FirstName} {context.LastName}"))
                           Title="@Localizer["Delete"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small"
                           Class="InstructorDeleteButton">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>@Localizer["NoMatchingRecordsFound"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@Localizer["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<br />
<CoursesForInstructor SelectedInstructorId="@SelectedInstructorId" SelectedCourseId="@SelectedCourseId" OnCourseSelected="OnCourseSelected"></CoursesForInstructor>

<br />
<StudentsForCourse SelectedCourseId="@SelectedCourseId"></StudentsForCourse>