@using WebUI.Shared.Instructors.Queries.GetInstructorsOverview
@page "/instructors"
@inject IStringLocalizer<InstructorResources> InstructorLocalizer
@inject IStringLocalizer<CourseResources> CourseLocalizer
@inject IStringLocalizer<GeneralResources> GeneralLocalizer

<h2>@InstructorLocalizer["Instructors"]</h2>

<p>
    <MudIconButton OnClick="(e => InstructorsViewModel.OpenCreateInstructor())"
                   Title="@GeneralLocalizer["Create"]"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<InstructorVM>>>(InstructorsViewModel.ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="table" RowClassFunc="@InstructorsViewModel.InstructorsSelectRowClassFunc">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@InstructorLocalizer["Instructors"]</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="@GeneralLocalizer["Search"]" Adornment="Adornment.Start" @bind-Value="@InstructorsViewModel.InstructorsOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudIconButton OnClick="InstructorsViewModel.Filter"
                       Title="@GeneralLocalizer["Search"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary">
        </MudIconButton>
        <MudIconButton OnClick="InstructorsViewModel.BackToFullList"
                       Title="@GeneralLocalizer["BackToFullList"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="InstructorVM">@InstructorLocalizer["LastName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="InstructorVM">@InstructorLocalizer["FirstName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="hiredate" T="InstructorVM">@InstructorLocalizer["HireDate"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="office" T="InstructorVM">@InstructorLocalizer["OfficeLocation"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="courses" T="InstructorVM">@InstructorLocalizer["Courses"]</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="HireDate">@context.HireDate</MudTd>
        <MudTd DataLabel="Office">@context.OfficeLocation</MudTd>
        <MudTd DataLabel="Courses"></MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick=@(e => InstructorsViewModel.SelectInstructor(context.InstructorID))
                           Title="@GeneralLocalizer["Select"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-hand-pointer"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => InstructorsViewModel.OpenInstructorEdit(context.InstructorID))"
                           Title="@GeneralLocalizer["Edit"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => InstructorsViewModel.OpenInstructorDetails(context.InstructorID))"
                           Title="@GeneralLocalizer["Details"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick=@(e =>
                InstructorsViewModel.DeleteInstructor(context.InstructorID, $"{context.FirstName} {context.LastName}"))
                           Title="@GeneralLocalizer["Delete"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>@GeneralLocalizer["NoMatchingRecordsFound"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@GeneralLocalizer["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (InstructorsViewModel.CourseForInstructorOverview != null)
{
    <br />
    <h3>@InstructorLocalizer["CoursesTaughtByInstructor"]</h3>

    <MudTable Items="InstructorsViewModel.CourseForInstructorOverview.Courses" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm"
              RowClassFunc="@InstructorsViewModel.CoursesSelectRowClassFunc">
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>@CourseLocalizer["CourseID"]</MudTh>
            <MudTh>@CourseLocalizer["Title"]</MudTh>
            <MudTh>@CourseLocalizer["Department"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudIconButton OnClick=@(e => InstructorsViewModel.SelectCourse(context.CourseID))
                               Title="@GeneralLocalizer["Select"]"
                               Variant="Variant.Filled"
                               Icon="fas fa-hand-pointer"
                               Color="Color.Primary" Size="Size.Small">
                </MudIconButton>
            </MudTd>
            <MudTd>@context.CourseID</MudTd>
            <MudTd>@context.Title</MudTd>
            <MudTd>@context.DepartmentName</MudTd>
        </RowTemplate>
    </MudTable>
}

@if (InstructorsViewModel.StudentsForCourse != null)
{
    <br />
    <h3>
        @CourseLocalizer["StudentsEnrolledInCourse"]
    </h3>

    <MudTable Items="InstructorsViewModel.StudentsForCourse.Students" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>@CourseLocalizer["StudentName"]</MudTh>
            <MudTh>@CourseLocalizer["StudentGrade"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.StudentName</MudTd>
            <MudTd>@context.StudentGrade</MudTd>
        </RowTemplate>
    </MudTable>
}
