@using WebUI.Client.Components

<MudDialog>
    <DialogContent>
        <div>
            <div class="row">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Localizer["LastName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Instructor != null)
                        {
                            @Instructor.LastName
                        }
                        </dd>
                        <dt class="col-sm-4">
                            @Localizer["FirstName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Instructor != null)
                        {
                            @Instructor.FirstName
                        }
                        </dd>
                        <dt class="col-sm-4">
                            @Localizer["HireDate"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Instructor != null)
                        {
                            @Instructor.HireDate.ToShortDateString()
                        }
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <ProfilePicture FileName="@Instructor?.ProfilePictureName" />
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@Localizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>