<MudDialog>
    <DialogContent>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Localizer["Name"]
                </dt>
                <dd class="col-sm-8">
                    @if (Department != null)
                {
                    @Department.Name
                }
                </dd>
                <dt class="col-sm-4">
                    @Localizer["Budget"]
                </dt>
                <dd class="col-sm-8">
                    @if (Department != null)
                {
                    @Department.Budget.ToString("F")
                }
                </dd>
                <dt class="col-sm-4">
                    @Localizer["StartDate"]
                </dt>
                <dd class="col-sm-8">
                    @if (Department != null)
                {
                    @Department.StartDate.ToShortDateString()
                }
                </dd>
                <dt class="col-sm-4">
                    @Localizer["AdministratorName"]
                </dt>
                <dd class="col-sm-8">
                    @if (Department != null)
                {
                    @Department.AdministratorName
                }
                </dd>
            </dl>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@Localizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>