<MudDialog>
    <DialogContent>
        @if (ErrorVisible)
        {
            <MudAlert Severity="Severity.Error">@Localizer["AnErrorOccuredDuringSaving"]</MudAlert>
        }
        <div class="row">
            <div class="col-md-12">
                <EditForm Model=@CreateCourseCommand OnSubmit=@FormSubmitted>
                    <FluentValidationValidator DisableAssemblyScanning="true" />
                    <div class="form-group">
                        <label for="CourseID">@Localizer["CourseID"]</label>
                        <InputNumber @bind-Value=CreateCourseCommand.CourseID class="form-control" id="CourseID" />
                        <ValidationMessage For="() => CreateCourseCommand.CourseID" />
                    </div>
                    <div class="form-group">
                        <label for="Title">@Localizer["Title"]</label>
                        <InputText @bind-Value=CreateCourseCommand.Title class="form-control" id="Title" />
                        <ValidationMessage For="() => CreateCourseCommand.Title" />
                    </div>
                    <div class="form-group">
                        <label for="Credits">@Localizer["Credits"]</label>
                        <InputNumber @bind-Value=CreateCourseCommand.Credits class="form-control" id="Credits" />
                        <ValidationMessage For="() => CreateCourseCommand.Credits" />
                    </div>
                    <div class="form-group">
                        <label for="Department">@Localizer["Department"]</label>
                        <CustomInputSelect @bind-Value=CreateCourseCommand.DepartmentID class="form-control" id="Department">
                            @if (DepartmentsLookup != null)
                            {
                                @foreach (var department in DepartmentsLookup.Departments)
                                {
                                    <option value="@department.DepartmentID">@department.Name</option>
                                }
                            }
                        </CustomInputSelect>
                        <ValidationMessage For="() => CreateCourseCommand.DepartmentID" />
                    </div>
                    <div class="form-group">
                        <MudButton ButtonType="ButtonType.Submit"
                                   StartIcon="fas fa-save"
                                   Color="Color.Primary">@Localizer["Create"]</MudButton>
                        <MudButton Color="Color.Primary" OnClick="Cancel">@Localizer["Cancel"]</MudButton>
                    </div>
                </EditForm>
            </div>
        </div>
    </DialogContent>
</MudDialog>
