@inject IStringLocalizer<CourseResources> CourseLocalizer
@inject IStringLocalizer<GeneralResources> GeneralLocalizer

<MudDialog>
    <DialogContent>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @CourseLocalizer["Title"]
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.Title
                    }
                </dd>
                <dt class="col-sm-4">
                    @CourseLocalizer["Credits"]
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.Credits
                    }
                </dd>
                <dt class="col-sm-4">
                    @CourseLocalizer["Department"]
                </dt>
                <dd class="col-sm-8">
                    @if (CourseDetailsViewModel.Course != null)
                    {
                        @CourseDetailsViewModel.Course.DepartmentID
                    }
                </dd>
            </dl>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@GeneralLocalizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>