@using WebUI.Shared.Courses.Queries.GetCoursesOverview
@page "/courses"

<h2>@Localizer["Courses"]</h2>
<PageTitle>CU - @Localizer["Courses"]</PageTitle>

<p>
    <MudIconButton OnClick="(e => OpenCourseCreate())"
                   Title="@Localizer["Create"]"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary"
                   id="CreateButton">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<CourseVM>>>(ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="Table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Localizer["Courses"]</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="@Localizer["Search"]" Adornment="Adornment.Start" @bind-Value="@CoursesOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" id="SearchValue"></MudTextField>
        <MudIconButton OnClick="Filter"
                       Title="@Localizer["Search"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary"
                       id="SearchButton">
        </MudIconButton>
        <MudIconButton OnClick="BackToFullList"
                       Title="@Localizer["BackToFullList"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary"
                       id="BackToFullListButton">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="courseid" T="CourseVM">@Localizer["CourseID"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="title" T="CourseVM">@Localizer["Title"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="credits" T="CourseVM">@Localizer["Credits"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="departmentname" T="CourseVM">@Localizer["Department"]</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.CourseID</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Credits">@context.Credits</MudTd>
        <MudTd DataLabel="DepartmentName">@context.DepartmentName</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => OpenCourseEdit(context.CourseID))"
                           Title="@Localizer["Edit"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenCourseEditButton">
            </MudIconButton>
            <MudIconButton OnClick="(e => OpenCourseDetails(context.CourseID))"
                           Title="@Localizer["Details"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenCourseDetailsButton">
            </MudIconButton>
            <MudIconButton OnClick=@(e => DeleteCourse(context.CourseID, $"{context.Title}"))
                           Title="@Localizer["Delete"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>@Localizer["NoMatchingRecordsFound"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@Localizer["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>