<MudDialog>
    <DialogContent>
        @if (ErrorVisible)
        {
            <MudAlert Severity="Severity.Error">@Localizer["AnErrorOccuredDuringSaving"]</MudAlert>
        }
        <div class="row">
            <div class="col-md-12">
                <EditForm Model=@UpdateDepartmentCommand OnSubmit=FormSubmitted>
                    <FluentValidationValidator DisableAssemblyScanning="true" />
                    <CustomValidation @ref="_customValidation" />
                    <div class="form-group">
                        <label for="Name">@Localizer["Name"]</label>
                        <InputText @bind-Value=UpdateDepartmentCommand.Name class="form-control" id="Name" />
                        <ValidationMessage For="() => UpdateDepartmentCommand.Name" />
                    </div>
                    <div class="form-group">
                        <label for="Budget">@Localizer["Budget"]</label>
                        <InputNumber @bind-Value=UpdateDepartmentCommand.Budget class="form-control" id="Budget" />
                        <ValidationMessage For="() => UpdateDepartmentCommand.Budget" />
                    </div>
                    <div class="form-group">
                        <label for="StartDate">@Localizer["StartDate"]</label>
                        <InputDate @bind-Value=UpdateDepartmentCommand.StartDate class="form-control" id="StartDate" />
                        <ValidationMessage For="() => UpdateDepartmentCommand.StartDate" />
                    </div>
                    <div class="form-group">
                        <label for="InstructorID">@Localizer["AdministratorName"]</label>
                        <MudSelect T="int" AnchorOrigin="Origin.BottomCenter" @bind-Value=UpdateDepartmentCommand.InstructorID class="form-control" id="InstructorID">
                            @if (InstructorsLookup != null)
                            {
                                @foreach (var instructor in InstructorsLookup.Instructors)
                                {
                                    <MudSelectItem Value="@instructor.ID">@instructor.FullName</MudSelectItem>
                                }
                            }

                        </MudSelect>
                        <ValidationMessage For="() => UpdateDepartmentCommand.InstructorID" />
                    </div>
                    <MudButton ButtonType="ButtonType.Submit"
                               StartIcon="fas fa-save"
                               Color="Color.Primary">@Localizer["Save"]</MudButton>
                    <MudButton Color="Color.Primary" OnClick="Cancel">@Localizer["Cancel"]</MudButton>
                </EditForm>
            </div>
        </div>
    </DialogContent>
</MudDialog>
