@using WebUI.Shared.Departments.Queries.GetDepartmentsOverview
@page "/departments"

<h2>Departments</h2>

<p>
    <MudIconButton OnClick="(e => DepartmentsViewModel.OpenDepartmentCreate())"
                   Title="Create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<DepartmentVM>>>(DepartmentsViewModel.ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Departments</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start" @bind-Value="@DepartmentsViewModel.DepartmentsOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudIconButton OnClick="DepartmentsViewModel.Filter"
                       Title="Search"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary">
        </MudIconButton>
        <MudIconButton OnClick="DepartmentsViewModel.BackToFullList"
                       Title="Back to Full List"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="name" T="DepartmentVM">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="budget" T="DepartmentVM">Budget</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="startdate" T="DepartmentVM">Start date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="administratorname" T="DepartmentVM">Administrator name</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Budget">@context.Budget</MudTd>
        <MudTd DataLabel="StartDate">@context.StartDate</MudTd>
        <MudTd DataLabel="AdministratorName">@context.AdministratorName</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => DepartmentsViewModel.OpenDepartmentEdit(context.DepartmentID))"
                           Title="Edit"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => DepartmentsViewModel.OpenDepartmentDetails(context.DepartmentID))"
                           Title="Details"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick=@(e => DepartmentsViewModel.DeleteDepartment(context.DepartmentID, $"{context.Name}"))
                           Title="Delete"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>