@page "/about"

<PageTitle>CU - About</PageTitle>

<h2>@Localizer["StudentBodyStatistics"]</h2>

@if (aboutInfo == null)
{
    <div class="d-flex justify-content-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="@Localizer["List"]">
            <MudText>
                <table class="table">
                    <tr>
                        <th>
                            @Localizer["EnrollmentDate"]
                        </th>
                        <th>
                            @Localizer["Students"]
                        </th>
                    </tr>

                    @if (aboutInfo != null)
                {
                    @foreach (var item in aboutInfo.Items)
                    {
                        <tr>
                                <td>
                                    @item.EnrollmentDate?.ToShortDateString()
                                </td>
                                <td>
                                    @item.StudentCount
                                </td>
                            </tr>
                    }
                }

                </table>
            </MudText>
        </MudTabPanel>
        <MudTabPanel Text="@Localizer["Chart"]">
            <MudText>
                <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%"></MudChart>
            </MudText>
        </MudTabPanel>
    </MudTabs>
}
