@using WebUI.Shared.Students.Queries.GetStudentsOverview
@page "/students"

<h1>Students</h1>

<p>
    <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentCreate())"
                   Title="Create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<StudentOverviewVM>>>(StudentsViewModel.ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Students</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudIconButton OnClick="StudentsViewModel.Filter"
                       Title="Search"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary">
        </MudIconButton>
        <MudIconButton OnClick="StudentsViewModel.BackToFullList"
                       Title="Back to Full List"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="StudentOverviewVM">Last Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="StudentOverviewVM">First Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="enrollmentdate" T="StudentOverviewVM">Enrollment Date</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Enrollment Date">@context.EnrollmentDate</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentEdit(context.StudentID))"
                           Title="Edit"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentDetails(context.StudentID))"
                           Title="Details"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick=@(e => StudentsViewModel.DeleteStudent(context.StudentID, $"{context.FirstName} {context.LastName}"))
                           Title="Delete"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>