@using WebUI.Shared.Students.Queries.GetStudentsOverview
@page "/students"

<h2>@Localizer["Students"]</h2>
<PageTitle>CU - @Localizer["Students"]</PageTitle>

<p>
    <MudIconButton OnClick="(e => OpenStudentCreate())"
                   Title="@Localizer["Create"]"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary"
                   id="CreateButton">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<StudentOverviewVM>>>(ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="Table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Localizer["Students"]</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="@Localizer["Search"]" Adornment="Adornment.Start" @bind-Value="@StudentsOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" id="SearchValue"></MudTextField>
        <MudIconButton OnClick="Filter"
                       Title="@Localizer["Search"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary"
                       id="SearchButton">
        </MudIconButton>
        <MudIconButton OnClick="BackToFullList"
                       Title="@Localizer["BackToFullList"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary"
                       id="BackToFullListButton">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="StudentOverviewVM">@Localizer["LastName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="StudentOverviewVM">@Localizer["FirstName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="enrollmentdate" T="StudentOverviewVM">@Localizer["EnrollmentDate"]</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Enrollment Date">@context.EnrollmentDate.ToShortDateString()</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => OpenStudentEdit(context.StudentID))"
                           Title="@Localizer["Edit"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenStudentEditButton">
            </MudIconButton>
            <MudIconButton OnClick="(e => OpenStudentDetails(context.StudentID))"
                           Title="@Localizer["Details"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small"
                           Class="OpenStudentDetailsButton">
            </MudIconButton>
            <MudIconButton OnClick=@(e => DeleteStudent(context.StudentID, $"{context.FirstName} {context.LastName}"))
                           Title="@Localizer["Delete"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>@Localizer["NoMatchingRecordsFound"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@Localizer["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>