@using WebUI.Client.Components

<MudDialog>
    <DialogContent>
        <div>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt class="col-sm-4">
                            LastName
                        </dt>
                        <dd class="col-sm-8">
                            @if (StudentDetailsViewModel.Student != null)
                            {
                                @StudentDetailsViewModel.Student.LastName
                            }
                        </dd>
                        <dt class="col-sm-4">
                            FirstName
                        </dt>
                        <dd class="col-sm-8">
                            @if (StudentDetailsViewModel.Student != null)
                            {
                                @StudentDetailsViewModel.Student.FirstName
                            }
                        </dd>
                        <dt class="col-sm-4">
                            EnrollmentDate
                        </dt>
                        <dd class="col-sm-8">
                            @if (StudentDetailsViewModel.Student != null)
                            {
                                @StudentDetailsViewModel.Student.EnrollmentDate.ToShortDateString()
                            }
                        </dd>
                        <dt class="col-sm-4">
                            Enrollments
                        </dt>
                        <dd class="col-sm-8">
                            <table class="table">
                                <tr>
                                    <th>Course Title</th>
                                    <th>Grade</th>
                                </tr>
                                @if (StudentDetailsViewModel.Student != null)
                                {
                                    @foreach (var item in StudentDetailsViewModel.Student.Enrollments)
                                    {
                                        <tr>
                                            <td>
                                                @item.CourseTitle
                                            </td>
                                            <td>
                                                @item.Grade
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <ProfilePicture />
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>