@using WebUI.Shared.Students.Queries.GetStudentsOverview
@page "/students"
@inject IStringLocalizer<StudentResources> StudentLocalizer
@inject IStringLocalizer<GeneralResources> GeneralLocalizer

<h1>@StudentLocalizer["Students"]</h1>

<p>
    <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentCreate())"
                   Title="@GeneralLocalizer["Create"]"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<StudentOverviewVM>>>(StudentsViewModel.ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@StudentLocalizer["Students"]</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="@GeneralLocalizer["Search"]" Adornment="Adornment.Start" @bind-Value="@StudentsViewModel.StudentsOverview.MetaData.SearchString"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudIconButton OnClick="StudentsViewModel.Filter"
                       Title="@GeneralLocalizer["Search"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-search"
                       Color="Color.Primary">
        </MudIconButton>
        <MudIconButton OnClick="StudentsViewModel.BackToFullList"
                       Title="@GeneralLocalizer["BackToFullList"]"
                       Variant="Variant.Filled"
                       Icon="fas fa-list"
                       Color="Color.Primary">
        </MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="StudentOverviewVM">@StudentLocalizer["LastName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="StudentOverviewVM">@StudentLocalizer["FirstName"]</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="enrollmentdate" T="StudentOverviewVM">@StudentLocalizer["EnrollmentDate"]</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Enrollment Date">@context.EnrollmentDate</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentEdit(context.StudentID))"
                           Title="@GeneralLocalizer["Edit"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentDetails(context.StudentID))"
                           Title="@GeneralLocalizer["Details"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick=@(e => StudentsViewModel.DeleteStudent(context.StudentID, $"{context.FirstName} {context.LastName}"))
                           Title="@GeneralLocalizer["Delete"]"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>@GeneralLocalizer["NoMatchingRecordsFound"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@GeneralLocalizer["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>