@using WebUI.Shared.Students.Queries.GetStudentsOverview
@page "/students"

<h1>Students</h1>

<p>
    <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentCreate())"
                   Title="Create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

@if (StudentsViewModel.StudentsOverview == null)
{
    <div class="d-flex justify-content-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" @bind="StudentsViewModel.StudentsOverview.MetaData.CurrentFilter" />
            <MudIconButton OnClick="StudentsViewModel.Filter"
                           Title="Search"
                           Variant="Variant.Filled"
                           Icon="fas fa-search"
                           Color="Color.Primary">
            </MudIconButton>
            <MudIconButton OnClick="StudentsViewModel.BackToFullList"
                           Title="Back to Full List"
                           Variant="Variant.Filled"
                           Icon="fas fa-list"
                           Color="Color.Primary">
            </MudIconButton>
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a @onclick="StudentsViewModel.SortByLastName">Last Name</a>
                </th>
                <th>
                    First Name
                </th>
                <th>
                    <a @onclick="StudentsViewModel.SortByEnrollmentDate">Enrollment Date</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (StudentsViewModel.StudentsOverview != null)
            {
                @foreach (var student in StudentsViewModel.StudentsOverview.Students)
                {
                    <tr>
                        <td>
                            @student.LastName
                        </td>
                        <td>
                            @student.FirstName
                        </td>
                        <td>
                            @student.EnrollmentDate.ToShortDateString()
                        </td>
                        <td>
                            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentEdit(student.StudentID))"
                                           Title="Edit"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-edit"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentDetails(student.StudentID))"
                                           Title="Details"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-eye"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                            <MudIconButton OnClick=@(e => StudentsViewModel.DeleteStudent(student.StudentID, $"{student.FirstName} {student.LastName}"))
                                           Title="Delete"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-trash-alt"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.MetaData.HasPreviousPage)
    {
        <MudIconButton OnClick="StudentsViewModel.PreviousPage"
                       Title="Previous"
                       Variant="Variant.Filled"
                       Icon="fas fa-backward"
                       Color="Color.Primary">
        </MudIconButton>
    }

    @if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.MetaData.HasNextPage)
    {
        <MudIconButton OnClick="StudentsViewModel.NextPage"
                       Title="Next"
                       Variant="Variant.Filled"
                       Icon="fas fa-forward"
                       Color="Color.Primary">
        </MudIconButton>
    }
}

<MudTable ServerData="@(new Func<TableState, Task<TableData<StudentOverviewVM>>>(StudentsViewModel.ServerReload))"
          Dense="true" Hover="true" FixedFooter="true" Height="500px">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Students</MudText>
        <MudSpacer />
        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="lastname_field" T="StudentOverviewVM">Last Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname_field" T="StudentOverviewVM">First Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="enrollmentdate_field" T="StudentOverviewVM">Enrollment Date</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Enrollment Date">@context.EnrollmentDate</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentEdit(context.StudentID))"
                           Title="Edit"
                           Variant="Variant.Filled"
                           Icon="fas fa-edit"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick="(e => StudentsViewModel.OpenStudentDetails(context.StudentID))"
                           Title="Details"
                           Variant="Variant.Filled"
                           Icon="fas fa-eye"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
            <MudIconButton OnClick=@(e => StudentsViewModel.DeleteStudent(context.StudentID, $"{context.FirstName} {context.LastName}"))
                           Title="Delete"
                           Variant="Variant.Filled"
                           Icon="fas fa-trash-alt"
                           Color="Color.Primary" Size="Size.Small">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>