@using WebUI.Client.Components
@inject IStringLocalizer<StudentResources> StudentLocalizer
@inject IStringLocalizer<GeneralResources> GeneralLocalizer

<MudDialog>
    <DialogContent>
        @if (StudentEditViewModel.ErrorVisible)
        {
            <MudAlert Severity="Severity.Error">@GeneralLocalizer["AnErrorOccuredDuringSaving"]</MudAlert>
        }
        <div class="row">
            <div class="col">
                <EditForm Model=@StudentEditViewModel.UpdateStudentCommand OnSubmit=@StudentEditViewModel.FormSubmitted>
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="LastName">@StudentLocalizer["LastName"]</label>
                        <InputText @bind-Value=StudentEditViewModel.UpdateStudentCommand.LastName class="form-control" id="LastName" />
                        <ValidationMessage For="() => StudentEditViewModel.UpdateStudentCommand.LastName" />
                    </div>
                    <div class="form-group">
                        <label for="FirstName">@StudentLocalizer["FirstName"]</label>
                        <InputText @bind-Value=StudentEditViewModel.UpdateStudentCommand.FirstName class="form-control" id="FirstName" />
                        <ValidationMessage For="() => StudentEditViewModel.UpdateStudentCommand.FirstName" />
                    </div>
                    <div class="form-group">
                        <label for="EnrollmentDate">@StudentLocalizer["EnrollmentDate"]</label>
                        <InputDate @bind-Value=StudentEditViewModel.UpdateStudentCommand.EnrollmentDate class="form-control" id="EnrollmentDate" />
                        <ValidationMessage For="() => StudentEditViewModel.UpdateStudentCommand.EnrollmentDate" />
                    </div>
                    <div>
                        <InputFile id="fileInput" OnChange="StudentEditViewModel.UploadFiles" hidden />
                        <MudButton HtmlTag="label"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Filled.CloudUpload"
                                   for="fileInput">
                            Upload Files
                        </MudButton>
                        @if (StudentEditViewModel.files != null)
                        {
                            <MudList>
                                @foreach (var file in StudentEditViewModel.files)
                                {
                                    <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                        @file.Name <code>@file.Size bytes</code>
                                    </MudListItem>
                                }
                            </MudList>
                        }
                    </div>
                    <MudButton ButtonType="ButtonType.Submit"
                               StartIcon="fas fa-save"
                               Color="Color.Primary">@GeneralLocalizer["Save"]</MudButton>
                    <MudButton Color="Color.Primary" OnClick="StudentEditViewModel.Cancel">@GeneralLocalizer["Cancel"]</MudButton>
                </EditForm>
            </div>
            <div class="col">
                <ProfilePicture FileName="@StudentEditViewModel?.UpdateStudentCommand?.ProfilePictureName" />
            </div>
        </div>
    </DialogContent>
</MudDialog>