@page "/students/{id}"

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            LastName
        </dt>
        <dd class="col-sm-10">
            @if (StudentDetailsViewModel.Student != null)
            {
                @StudentDetailsViewModel.Student.LastName
            }
        </dd>
        <dt class="col-sm-2">
            FirstName
        </dt>
        <dd class="col-sm-10">
            @if (StudentDetailsViewModel.Student != null)
            {
                @StudentDetailsViewModel.Student.FirstName
            }
        </dd>
        <dt class="col-sm-2">
            EnrollmentDate
        </dt>
        <dd class="col-sm-10">
            @if (StudentDetailsViewModel.Student != null)
            {
                @StudentDetailsViewModel.Student.EnrollmentDate.ToShortDateString()
            }
        </dd>
        <dt class="col-sm-2">
            Enrollments
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @if (StudentDetailsViewModel.Student != null)
                {
                    @foreach (var item in StudentDetailsViewModel.Student.Enrollments)
                    {
                        <tr>
                            <td>
                                @item.CourseTitle
                            </td>
                            <td>
                                @item.Grade
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    @if (StudentDetailsViewModel.Student != null)
    {
        <a href=@($"/students/edit/{StudentDetailsViewModel.Student.StudentID}")>Edit</a>
    }
    <a href="/students">Back to List</a>
</div>