@page "/students"

<h1>Students</h1>

<p>
    <MudIconButton Link="/students/create"
                   Title="Create"
                   Variant="Variant.Filled"
                   Icon="fas fa-plus-circle"
                   Color="Color.Primary">
    </MudIconButton>
</p>

@if (StudentsViewModel.StudentsOverview == null)
{
    <div class="d-flex justify-content-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" @bind="StudentsViewModel.StudentsOverview.CurrentFilter" />
            <MudIconButton OnClick="StudentsViewModel.Filter"
                           Title="Search"
                           Variant="Variant.Filled"
                           Icon="fas fa-search"
                           Color="Color.Primary">
            </MudIconButton>
            <MudIconButton OnClick="StudentsViewModel.BackToFullList"
                           Title="Back to Full List"
                           Variant="Variant.Filled"
                           Icon="fas fa-list"
                           Color="Color.Primary">
            </MudIconButton>
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a @onclick="StudentsViewModel.SortByLastName">Last Name</a>
                </th>
                <th>
                    First Name
                </th>
                <th>
                    <a @onclick="StudentsViewModel.SortByEnrollmentDate">Enrollment Date</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (StudentsViewModel.StudentsOverview != null)
            {
                @foreach (var student in StudentsViewModel.StudentsOverview.Students)
                {
                    <tr>
                        <td>
                            @student.LastName
                        </td>
                        <td>
                            @student.FirstName
                        </td>
                        <td>
                            @student.EnrollmentDate.ToShortDateString()
                        </td>
                        <td>
                            <MudIconButton Link="@($"/students/edit/{student.StudentID}")"
                                           Title="Edit"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-edit"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                            <MudIconButton Link="@($"/students/{student.StudentID}")"
                                           Title="Details"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-eye"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                            <MudIconButton OnClick=@(e => StudentsViewModel.DeleteStudent(student.StudentID, $"{student.FirstName} {student.LastName}"))
                                           Title="Delete"
                                           Variant="Variant.Filled"
                                           Icon="fas fa-trash-alt"
                                           Color="Color.Primary" Size="Size.Small">
                            </MudIconButton>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.HasPreviousPage)
    {
        <MudIconButton OnClick="StudentsViewModel.PreviousPage"
                       Title="Previous"
                       Variant="Variant.Filled"
                       Icon="fas fa-backward"
                       Color="Color.Primary">
        </MudIconButton>
    }

    @if (StudentsViewModel.StudentsOverview != null && StudentsViewModel.StudentsOverview.HasNextPage)
    {
        <MudIconButton OnClick="StudentsViewModel.NextPage"
                       Title="Next"
                       Variant="Variant.Filled"
                       Icon="fas fa-forward"
                       Color="Color.Primary">
        </MudIconButton>
    }
}