@using WebUI.Client.Components

<MudDialog>
    <DialogContent>
        <div>
            <div class="row">
                <div class="col">
                    <dl>
                        <dt class="col-sm-4">
                            @Localizer["LastName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Student != null)
                        {
                            @Student.LastName
                        }
                        </dd>
                        <dt class="col-sm-4">
                            @Localizer["FirstName"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Student != null)
                        {
                            @Student.FirstName
                        }
                        </dd>
                        <dt class="col-sm-4">
                            @Localizer["EnrollmentDate"]
                        </dt>
                        <dd class="col-sm-8">
                            @if (Student != null)
                        {
                            @Student.EnrollmentDate.ToShortDateString()
                        }
                        </dd>
                        <dt class="col-sm-4">
                            @Localizer["Enrollments"]
                        </dt>
                        <dd class="col-sm-8">
                            <table class="table">
                                <tr>
                                    <th>@Localizer["Title"]</th>
                                    <th>@Localizer["StudentGrade"]</th>
                                </tr>
                                @if (Student != null)
                            {
                                @foreach (var item in Student.Enrollments)
                                {
                                    <tr>
                                            <td>
                                                @item.CourseTitle
                                            </td>
                                            <td>
                                                @item.Grade
                                            </td>
                                        </tr>
                                }
                            }
                            </table>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <ProfilePicture FileName="@Student?.ProfilePictureName" />
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@Localizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>