<MudDialog>
    <DialogContent>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Localizer["Title"]
                </dt>
                <dd class="col-sm-8">
                    @if (Course != null)
                {
                    @Course.Title
                }
                </dd>
                <dt class="col-sm-4">
                    @Localizer["Credits"]
                </dt>
                <dd class="col-sm-8">
                    @if (Course != null)
                {
                    @Course.Credits
                }
                </dd>
                <dt class="col-sm-4">
                    @Localizer["Department"]
                </dt>
                <dd class="col-sm-8">
                    @if (Course != null)
                {
                    @Course.DepartmentID
                }
                </dd>
            </dl>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">@Localizer["OK"]</MudButton>
    </DialogActions>
</MudDialog>